button {

  width: 12.0625rem;
  height: 2.5rem;
  padding: 0.125rem 0.125rem 0.125rem 0.125rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #797979;
  background-color: #eda2ba;
  box-sizing: border-box;
  font-family: "Arial Normal", "Arial", sans-serif;
  font-weight: 700;
  color: #fafafa;
  text-align: center;
  line-height: normal;

}

/* Pour le Footer */

footer {
  background-color: rgba(23, 40, 63, 0.98);
}

#image_footer {
  width: 5.5rem;
  height: 3.9375rem;
  box-sizing: border-box;
}

#about_us_footer {
  width: 4.9375rem;
  height: 1.4375rem;
  box-sizing: border-box;
  font-family: "Arial Normal", "Arial", sans-serif;
  color: #fafafa;
  text-align: left;
  line-height: normal;
}

#contact {
  width: 4.3125rem;
  height: 1.4375rem;
  box-sizing: border-box;
  font-family: "Arial Normal", "Arial", sans-serif;
  color: #fafafa;
  text-align: left;
  line-height: normal;
}

#telephone {
  width: 13.6875rem;
  height: 1.3125rem;
  box-sizing: border-box;
  font-family: "Arial Normal", "Arial", sans-serif;
  color: #bdbdbd;
  text-align: left;
  line-height: normal;
}

#email {
  width: 16.1875rem;
  height: 1.3125rem;
  box-sizing: border-box;
  font-family: "Arial Normal", "Arial", sans-serif;
  color: #bdbdbd;
  text-align: left;
  line-height: normal;
}

#fb {
  width: 0.875rem;
  height: 1.75rem;
  padding: 0.125rem 0.125rem 0.125rem 0.125rem;
  box-sizing: border-box;
}

#insta {
  width: 1.75rem;
  height: 1.75rem;
  padding: 0.125rem 0.125rem 0.125rem 0.125rem;
  box-sizing: border-box;
}

#twitter {
  width: 2.125rem;
  height: 1.75rem;
  padding: 0.125rem 0.125rem 0.125rem 0.125rem;
  box-sizing: border-box;
}

#linkedin {
  width: 1.75rem;
  height: 1.75rem;
  padding: 0.125rem 0.125rem 0.125rem 0.125rem;
  box-sizing: border-box;
}

/* ----------------------*/