@font-face {  /*Définition d'une police particulière*/
  font-family: 'Rubik';
  src: url('http://cdn.adopteunstagiaire.com/Rubik-Regular.ttf') format('truetype');  /*Format ".ttf" accepté par tous les navigateurs*/
}

* {  /*Tous les éléments de la page*/
  margin: 0;
  box-sizing: border-box;
  font-family: Rubik, Verdana, "Comic Sans MS", Arial, sans-serif;
  line-height: normal;
}

a {  /*Tous les liens de la page*/
  text-decoration: none;
}

q::before, q::after {  /*Toutes les citations de la page*/
  content: none;
}

/*-------------------------Header-------------------------*/
header {
  background-image: url(http://cdn.adopteunstagiaire.com/header_background.svg);
  background-size: 100%;
  background-position: top left;
  background-attachment: scroll;
  background-repeat: no-repeat;
  padding-bottom: 8rem;
  margin-bottom: 5rem;
}

/*-----------------Flexbox nav-----------------*/
#nav{
  width: 100%;
  height: 6.875rem;
  padding-top: 1,4375rem;
  padding-bottom: 1,4375rem;
  padding-left: 2.0625rem;
  display: flex;
  flex-direction: row;
}

nav .element {
  width: 50%;
  height: 5.4375rem;
  display: flex;
  flex-direction: row;
}

nav .element:nth-child(2) {
  justify-content: flex-end;
  align-items: center;
}

nav .element1 {
  width: 7rem;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav .element1:nth-child(1) {
  width: 3.375rem;
}

nav .element1:nth-child(2) {
  width: 3.4375rem;
}

nav .element1:nth-child(3) {
  width: 6.375rem;
}

nav .element1:nth-child(4) {
  width: 6.125rem;
  margin-right: 2rem;
}

nav .element1:nth-child(5) {
  width: 2rem;
}

nav .element1:nth-child(6) {
  width: 2.5625rem;
  margin-right: 2.5rem;
}

header nav button {  /*Tous les boutons dans la barre navigation*/
  width: 7rem;
  height: 2.5rem;
  padding: 0.125rem;
  border-color: transparent;
  background-color: transparent;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fafafa;
  text-align: center;
}

/*-----------------Flexbox slogan-----------------*/
#slogan {
  width: 100%;
  height: 33.75rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
}

#slogan .element{
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;  
}

#slogan .element:nth-child(1) {
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

#slogan .element1 {
  width: 8rem;
  font-size: 1.25rem;
  font-weight: normal;
  color: #fafafa;
  display: flex;
  flex-direction: row;
  text-align: left;
}

#slogan .element:nth-child(3){
  color: #eda2ba;
}

header q {
  font-size: 3rem;
  font-weight: normal;
}

header button {
  width: 12.0625rem;
  height: 2.5rem;
  padding: 0.125rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #797979;
  background-color: #eda2ba;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #fafafa;
  text-align: center;
}


/*-----------------------------------------*/

#image_header_back {
  width: 93.75rem;
}

#logo {
  width: 20rem;
}

#image_heart {
  width: 2rem;
}

#image_user {
  width: 2.5625rem;
  height: 2.5625rem;
}

#image_handshake {
  width: 25.5rem;
  height: 33.75rem;
  border-radius: 1.0625rem;
}

#image_start_now {
  width: 4.5rem;
  height: 4.5rem;
  padding: 0.125rem;
}

/*-------------------------Main-------------------------*/
main button {  /*Tous les boutons dans le main*/
  width: 12.0625rem;
  height: 2.5rem;
  padding: 0.125rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #797979;
  background-color: #eda2ba;
  font-size: 1rem;
  font-weight: bold;
  color: #fafafa;
  text-align: center;
}

.UP_and_DOWN button {  /*Tous les boutons de classe "UP and DOWN" */
  width: 6rem;
}

/*-------------------------Footer-------------------------*/

body footer {  /*Tout le footer dans body*/
  background-color: rgba(23, 40, 63, 0.98);
}

#image_footer {
  width: 5.5rem;
  height: 3.9375rem;
}

#about_us_footer {
  width: 4.9375rem;
  height: 1.4375rem;
  color: #fafafa;
  text-align: left;
}

#contact {
  width: 4.3125rem;
  height: 1.4375rem;
  color: #fafafa;
  text-align: left;
}

#contact_text {
  height: 1.3125rem;
  color: #bdbdbd;
  text-align: left;
}

#fb {  /*icone facebook*/
  width: 1rem;
  height: 1.75rem;
  padding: 0.125rem;
}

#insta, #linkedin { /*icone instagram et linkedin*/
  width: 1.75rem;
  height: 1.75rem;
  padding: 0.125rem;
}

#twitter {  /*icone twitter*/
  width: 2.125rem;
  height: 1.75rem;
  padding: 0.125rem;
}

footer a:visited {  /*Tous les liens déjà visités du footer*/

}